@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
	outline: none !important;
}

::-webkit-scrollbar {
	display: none !important;
}

html {
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

input,
textarea {
	outline: none;
	caret-color: #f3a952;
	color: #fff;
}

.slick-active div {
	opacity: 1;
}
